*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:1170;
	padding:45px 25px;
	margin:0 50px;
	
}
.navigation{
	margin-left:75px;
}
.navigation h1{
	padding-bottom:15px;
	border-bottom:1px solid #ccc;
	padding-right:750px;
}
.image{
	width:100px;
	height:auto;
}
.flex-container{
	display:flex;
}
.nav-menu{
	display:flex;
	list-style-type:none;
}
.nav-links a{
	display:block;
	padding:10px 15px 10px 10px;
	font-size:25px;
	text-transform:capitalize;
	text-decoration:none;
	color:black;
}
.tables{
	padding:20px;
	text-transform:capitalize;
	border-bottom:1px solid #ccc; 
}
.tables input{
	padding:20px;
}
 .text-pic{
	display:flex;
	padding:10px;
}
.text-pic h5{
		margin:15px; 
}
.ulorder{
	display:flex;
	list-style-type:none;
}
.litem a{
	display:block;
	padding:10px 30px 30px 10px;
	font-size:25px;
	text-transform:capitalize;
	text-decoration:none;
	color:black;
	border-bottom:1px solid #ccc;
}
/* .edu-img{
	display:flex;
	padding:10px;
	
}
.edu-img h5{
	margin:15px; 
	
} */
.heading{
	color:#676A64;
	border-left:2px solid #ccc;
	padding-left:10px
	
}
.num-head{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-top:20px;
}
.box span{
	background-color:#ccc;
	padding:30px
}
.box{
	border-bottom:1px solid #ccc;
}
.phg-text{
	color:#676A64;
	border-left:2px solid #ccc;
	padding-left:10px;
	margin-top:25px;
}
.contacts{
	margin:0px;
	padding-top:35px;
}
.num-images img{
	padding:20px;
	margin-right:10px;	
	margin:0px 5px;
}
